body {
    font-family: Arial, sans-serif;
    text-align: center;
}

form {
    margin-top: 20px;
}

#characters, #market-list {
    margin-top: 30px;
}

button {
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}